<!DOCTYPE html>
<html>
<head>
<title>用户表</title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal">
		<div class="form-group">
		   	<div class="col-sm-2 control-label">电话号码</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="appUser.tel" placeholder="电话号码"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">姓名</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="appUser.name" placeholder="姓名"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">微信openid</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="appUser.openid" placeholder="微信openid"/>
		    </div>
		</div>
		<!-- <div class="form-group">
		   	<div class="col-sm-2 control-label">住址</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="appUser.houseName" placeholder="住址"/>
		    </div>
		</div> -->
		<div class="form-group">
		   	<div class="col-sm-2 control-label">住址</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="appUser.houseNum" placeholder="门牌号"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">积分</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="appUser.integral" placeholder="积分"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">昵称</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="appUser.nickname" placeholder="昵称"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">收件人英文名，默认姓名首字母</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="appUser.ename" placeholder="收件人英文名，默认姓名首字母"/>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
	</form>
</div>

<script src="${rc.contextPath}/js/bus/appuser/appuser_add.js?_${date.systemTime}"></script>
</body>
</html>