<!DOCTYPE html>
<html>
<head>
<title>用户表</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<div class="form-group col-sm-2" style="width:100%">
			<input id="label_tel" type="text" class="form-control" style="width:160px;display: inline" v-model="tel" @keyup.enter="query" placeholder="电话"> 
			&nbsp;
			<input id="label_name" type="text" class="form-control" style="width:160px;display: inline" v-model="name" @keyup.enter="query" placeholder="用户名">
			&nbsp;
			<button type="button" class="btn btn-default form_input_height" @click="query">查询</button>
		</div>
		<a class="btn btn-default" href="appuser_add.html">新增</a>
		<button type="button"  class="btn btn-default" @click="update">修改</button>
		<button type="button" class="btn btn-default" @click="del">删除</button>
	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="${rc.contextPath}/js/bus/appuser/appuser.js?_${date.systemTime}"></script>
</body>
</html>