<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzj.dao.PTitleMapper" >
  <resultMap id="BaseResultMap" type="com.zzj.entity.PTitle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parentCode" property="parentcode" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, parentCode, level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from p_title
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p_title
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzj.entity.PTitle" >
    insert into p_title (id, code, name, 
      parentCode, level)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentcode,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzj.entity.PTitle" >
    insert into p_title
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentcode != null" >
        parentCode,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentcode != null" >
        #{parentcode,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzj.entity.PTitle" >
    update p_title
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentcode != null" >
        parentCode = #{parentcode,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzj.entity.PTitle" >
    update p_title
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parentCode = #{parentcode,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <!-- 查询一级职业菜单 -->
  <select id="selectPTitleByLevel" parameterType="java.lang.String"  resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from p_title
    where level = #{level,jdbcType=VARCHAR}
  </select>
  
  <!-- 查询二级三级菜单
  	根据传入的level 判断传入的是二级还是三级查询  1为二级   2为三级
  	parentCode判断类别
   -->
  <select id="selectPTitleByCode" parameterType="Map" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from p_title
    where level = #{level,jdbcType=VARCHAR}
 		  and parentCode=#{parentCode,jdbcType=VARCHAR}
  </select>
</mapper>