<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzj.dao.TTeamMapper" >
  <resultMap id="BaseResultMap" type="com.zzj.entity.TTeam" >
    <id column="Id" property="id" jdbcType="CHAR" />
    <result column="Creater" property="creater" jdbcType="CHAR" />
    <result column="Post" property="post" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Creater, Post
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_team
    where Id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_team
    where Id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zzj.entity.TTeam" >
    insert into T_team (Id, Creater, Post)
    values (#{id,jdbcType=CHAR}, #{creater,jdbcType=CHAR}, #{post,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzj.entity.TTeam" >
    insert into T_team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="creater != null" >
        Creater,
      </if>
      <if test="post != null" >
        Post,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=CHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzj.entity.TTeam" >
    update T_team
    <set >
      <if test="creater != null" >
        Creater = #{creater,jdbcType=CHAR},
      </if>
      <if test="post != null" >
        Post = #{post,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzj.entity.TTeam" >
    update T_team
    set Creater = #{creater,jdbcType=CHAR},
      Post = #{post,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=CHAR}
  </update>
</mapper>