<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzj.dao.TUserMapper" >
  <resultMap id="BaseResultMap" type="com.zzj.entity.TUser" >
    <id column="Id" property="id" jdbcType="CHAR" />
    <result column="UserName" property="username" jdbcType="NVARCHAR" />
    <result column="PassWord" property="password" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="FirstTime" property="firsttime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="OpenId" property="openid" jdbcType="VARCHAR" />
    <result column="ConnectionId" property="connectionid" jdbcType="VARCHAR" />
    <result column="Group" property="group" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, UserName, PassWord, Phone, Email, FirstTime, updateTime, OpenId, ConnectionId, 
    Group
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_user
    where Id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_user
    where Id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zzj.entity.TUser" >
    insert into T_user (Id, UserName, PassWord, 
      Phone, Email, FirstTime, 
      updateTime, OpenId, ConnectionId, 
      Group)
    values (#{id,jdbcType=CHAR}, #{username,jdbcType=NVARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{firsttime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{openid,jdbcType=VARCHAR}, #{connectionid,jdbcType=VARCHAR}, 
      #{group,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzj.entity.TUser" >
    insert into T_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="password != null" >
        PassWord,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="firsttime != null" >
        FirstTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="openid != null" >
        OpenId,
      </if>
      <if test="connectionid != null" >
        ConnectionId,
      </if>
      <if test="group != null" >
        Group,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=NVARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="firsttime != null" >
        #{firsttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="connectionid != null" >
        #{connectionid,jdbcType=VARCHAR},
      </if>
      <if test="group != null" >
        #{group,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzj.entity.TUser" >
    update T_user
    <set >
      <if test="username != null" >
        UserName = #{username,jdbcType=NVARCHAR},
      </if>
      <if test="password != null" >
        PassWord = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="firsttime != null" >
        FirstTime = #{firsttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="openid != null" >
        OpenId = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="connectionid != null" >
        ConnectionId = #{connectionid,jdbcType=VARCHAR},
      </if>
      <if test="group != null" >
        Group = #{group,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzj.entity.TUser" >
    update T_user
    set UserName = #{username,jdbcType=NVARCHAR},
      PassWord = #{password,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      FirstTime = #{firsttime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      OpenId = #{openid,jdbcType=VARCHAR},
      ConnectionId = #{connectionid,jdbcType=VARCHAR},
      Group = #{group,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=CHAR}
  </update>
</mapper>